@CHARSET "UTF-8";

.template{
	display:none;
}
.msgitem{
	padding:15px 15px 30px 15px;
	border-bottom: 1px solid #9595e5;
}
.msgtitle{
	overflow:hidden;
	border-bottom: 1px solid #959595;
}
.msgtitle h3{
	float:left;
}
.msgtitle .replybtn{
	float:right;
	margin-top: 15px;
    margin-bottom: 10px;
}
.reply{
	padding:5px 0 10px 0;
	border-bottom: 1px solid #959595;
	display:none;
}
.reply .msgcontent{
	padding:10px;
	background:#F5F5FE;
	font-size:16;
}
.reply .author{
	color:#808;
	font-size:16;
}
.rightinfo{
	padding:5px 0 5px 0;
	color:#888;
	float:right;
}
.modalcenter{
	margin:100px 0 0 0;
}
.msglist{
	line-height:34px;
	padding:10px 0 10px 0;
	border-bottom: 1px solid #E5E5E5;
}
.msglist .title{
	display:block;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
	font-size: 16px;
	font-weight: bold;
}
.msglist .author{
	color: #595959;
}
.msglist .time{
	
	display:block;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
	color: #595959;
}
.msglist .userinfo{
	
	display:block;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
	color: #595959;
}
/*
 * 长度限制
*/
.text-limit{
	display:block;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
/*
 * 小于768时的
*/
@media screen and (max-width: 768px)  { 
.msglist{
	padding:10px 0 10px 0;
	border-bottom: 1px solid #959595;
}
.msglist .title{
	font-size: 16px;
	font-weight: bold;
}
.msglist .author{
	color: #595959;
}
.msglist .time{
	color: #595959;
}
}